<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the message</title>
    <link rel="stylesheet" href="/edit.css">
</head>

<body>
    <div class="edit">
        <p>Edit Message ID:<%=chat._id %>
        </p>
        <p>this chat was sent from <b>
                <%= chat.from%>
            </b> to <b>
                <%= chat.to %>
            </b> </p>
        <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
            <textarea name="msg" cols="40" rows="10" placeholder="Edit the message"><%= chat.msg%></textarea>
            <br>
            <button>Save</button>
        </form>
    </div>
</body>

</html>